.banner-container{
    background: url('../../../Images/footer/footer-background-011.jpg.crdownload');
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 70%, 0% 100%);
    padding-top: 9%;
    color: white;
    padding: 70px;
    
}
.img-port{
    width: 50%;
    
}
.b-t{
    margin-top: 100px;
}
.banner-text h2{
 font-size: 44px;
}
.social{
    font-size: 40px;
   
}
.social a{
    margin-right: 20px;
}