.about-details h1{
    font-size: 40px;
    font-family: cursive;
}
/* .hr-a{
    border-top: 1px solid rgb(54, 173, 38); 
    width:40%;
    display:inline-block;
    font-size: 40px;
  }
  <FaUserAlt style={{marginTop: '-30px', color: '#00FF00'}} */